In [1]:
import pandas as pd
df = pd.read_csv("results.csv")
df

     name    avg      0      1      2      3      4
0  python  8.325  8.299  8.437  8.424  8.239  8.226
1    pypy  1.152  1.170  1.163  1.166  1.121  1.141
2  cython  0.764  0.757  0.766  0.767  0.767  0.762
3     cpp  0.338  0.344  0.331  0.340  0.341  0.336