In [3]:
import pandas as pd
df = pd.read_csv("results.csv")
df

     name       avg         0         1         2          3         4
0  python  9.213722  8.393930  9.726687  8.991125  10.480992  8.475879
1    pypy  1.149557  1.280481  1.107438  1.124969   1.125710  1.109186
2  cython  0.826612  0.737428  0.771607  0.779911   0.995549  0.848565
3     cpp  0.353415  0.375835  0.351816  0.335302   0.342633  0.361489